.container-badge {

  width: 80%;
  height: auto;
  background-color: #1976d2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  .text-white {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
  }
}
