<div class="card m-2" style="width: 18rem;">
  <img class="card-img-top" [src]="data?.picture" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{data?.name }}</h5>
  <h6 class="card-subtitle mb-2 text-muted">{{data?.description}}</h6>
  <p class="card-text alert " role="alert" appBackground [data]="data?.status" [params]="{
    'false': 'alert-danger',
    'true': 'alert-primary',
    'default': 'alert-warning'
  }">
    {{ data?.status ? 'ONLINE': 'OFFLINE'}}
  </p>
    <a [href]="data?.url" class="card-link">Enlace</a>
  </div>
</div>
