<ng-template [ngIf]="character">


  <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="overflow: hidden; border-radius: 1px;">
    <img [src]="character?.img" alt="Man with backpack" class="d-block w-full">

    <div class="px-2 py-2">
      <p appLiving class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
        {{ character?.nickname}}

      </p>

      <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
        {{character?.name}}
      </h1>

    <p class="mb-1">
      Occupation: {{character?.occupation | json}}
    </p>
    <p class="mb-1">
      Appearance: {{character?.appearance | json}}
    </p>
    <p class="mb-1">
      Sum of Appearance: {{character?.appearance | sum}}
    </p>
    </div>
  </div>

</ng-template>
