<div class="card m-2" style="width: 18rem;">
  <img class="card-img-top" [src]="data?.picture" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{data?.first_name }} {{data?.last_name }}</h5>
  <h6 class="card-subtitle mb-2 text-muted">{{data?.university}}</h6>
    <p class="card-text alert " role="alert" appBackground [data]="data?.gender" [params]="{
      'Female': 'alert-danger',
      'Male': 'alert-primary',
      'Default': 'alert-warning'
    }">{{data?.gender}}</p>
    <a href="#" class="card-link">{{data?.email}}</a>
  </div>
</div>
